// 全局引用的方法和变量
//字体颜色
$color = red
//字体大小
//背景色
//边框色

//方法
//字体大小文字
fsColor($p, $color)
  font-size $p
  color $color
//设置字体长度过长处理
textOver()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
//flex
// flexLo($Str) 
//   if $Str == 'fs'
//     return flex-start
//   else if $Str == 'center' 
//     return center
//    else if $Str == 'sb' 
//     return space-between
//    else if $Str == 'sa' 
//     return space-around
//    else if $Str == 'fe' 
//     return flex-end
//    else 
//     return center
  
// flex($inline, $justify, $aligns) 
//   display flex
//   if $inline 
//     display inline-flex
//   justify-content flexLo($justify)
//   align-items flexLo($aligns)
